# Copyright 2020 Adam Chalkley
#
# https://github.com/atc0005/go-ci
#
# Licensed under the MIT License. See LICENSE file in the project root for
# full license information.

# Not used now, but used in an earlier version of the `Makefile` to login
# to GitHub Package Repo for image uploads.
GH_TOKEN.txt

# Ignore Visual Studio Code workspace-level settings
/.vscode/settings.json
